<h1 class="text-center">Detalles del Mensaje</h1>

<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>Chat ID</th>
        <th>Sender Name</th>
        <th>Receiver Name</th>
        <th>Content</th>
        <th>Created At</th>
        <th>Updated at</th>
      </tr>
      <tr>
        <td><%= @message.chat_id %></td>
        <td><%= "#{@message.chat.sender.first_name} #{@message.chat.sender.last_name}" %></td>
        <td><%= "#{@message.chat.receiver.first_name} #{@message.chat.receiver.last_name}" %></td>
        <td><%= @message.body %></td>
        <td><%= @message.created_at %></td>
        <td><%= @message.updated_at %></td>
      </tr>
    </table>
  </div>
</div>

<div class="text-center">
  <%= link_to 'Back to Messages', messages_path, class: 'btn btn-primary' %>
  <%= link_to 'Edit Message', edit_message_path(@message), class: 'btn btn-secondary' %>
</div>